* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.map{
    width: 100%;
    height: 80vh;
    background-color: aqua;
    margin-bottom: 40px;
    
}
.map-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center-text-h1{
    text-align: center;
    margin: 50px;
    margin-top: 100px;
}
.center-text-h2{
    text-align: center;
    margin: 25px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 15px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 60px;
    margin: 0 25px;
  }