<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>College Finder</title>
  <!---Custom Css File!--->
  <link rel="stylesheet" href="/static/about.css">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <img src="/static/Annotation.svg" class="pic">
      <div class="text">
        <h2>About</h2>
        <h3>College Finder</h3><br>
          <p>Welcome to our college finder website, your gateway to a universe of educational possibilities. We aim to simplify your college search by providing a comprehensive directory of colleges, empowering you to make well-informed choices on your educational journey.</p>
        <div class="data">
        <a href="/" class="hire">Go Home</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
