<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tiles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/static/tiles.css">
</head>
<body>
    <!-- Start of 2nd header -->
    <header data-bs-theme="dark">
      <div class="text-bg-dark collapse show" id="navbarHeader" >
        <div class="container">
          <a href="/"><img src="/static/11.png" alt="College Finder Image" class="logo-image" style="width: 110px; height: 50px; margin-right: 15px;"></a>
            
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>About</h4>
              <p class="text-body-secondary">Welcome to College Finder<br> Your Path to Higher Education. We're dedicated to simplifying your college search, offering information, guidance, and inspiration for your academic journey.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/sourab-garg/" class="text-white">Follow on Linkedin</a></li>
                <li><a href="https://github.com/SourabGarg" class="text-white">Follow on GitHub</a></li>
                <li><a href="https://www.instagram.com/sourab_garg/" class="text-white">Like on Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-start">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
            <strong>Home</strong>
          </a>
          <a href="/"><img src="/static/11.png" alt="College Finder Image" class="logo-image" style="width: 110px; height: 50px; margin-right: 15px;"></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <!-- ENd of 2nd header -->
      <!-- Start of boxes -->
        <!-- <div class="container">
          <div class="card-row">
            {% for college in district_web_dataa %}
            <div class="card">
              <a href="{{college.link}}">
                <img src="/static/{{college.image}}" alt="Image 1">
                <p>{{college.college_name}}</p>
                <button>Go to website</button>
              </a>
            </div>
            {% endfor %}
          </div>
        </div> -->
        <div class="body-div">
          {% for college in district_web_dataa %}
          <div class="card">
            <a href="{{college.link}}">
              <img src="/static/{{college.image}}" class="card-image" alt="Denim Jeans">
              <p class="heading">{{college.college_name}}</p>
            </a>
            <label for="selectCourse">Course Available:</label>
            <select id="selectCourse" name="course" style="padding-top: 10px; padding-bottom: 10px;">
              {% for course in course_web_data %}
                <option value="{{ course }}">{{ course }}</option>
              {% endfor %}
            </select>
            <a href="{{college.link}}">
              <p class="button-p"><button>Go to website</button></p>
            </a>
          </div>
          {% endfor %}
        </div>
        
                
      <!-- End of boxes -->

      <!-- Start of Footer -->
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
        </footer>
      </div>
      <!-- End of Footer -->
</body>
</html>
